.search {
    display: flex;
    max-height: 60%;
    gap: 10px;
  }
  
  .search-input {
    flex: 1 1 100px;
    max-width: 200px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: beige;;
  }
  
  .search-button {
    max-height: 40px;
    margin-right: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(81, 65, 186);
    color: beige;
    border: 1px solid #ddd;
  }
  
  @media (max-width: 555px) {
    .search-input {
      margin: 5px;
    }

    .search-button {
      margin: 5px;
    }
  }